extends layout

block content
    title
        
        form(action="/uploadmultiple" enctype="multipart/form-data" method="POST")
            input(type="file", name="myFiles"value="" multiple)
            input(type="submit" value="Upload your file")

        form(action="/uploadFile" enctype="multipart/form-data" method="POST")
            input(type="file", name="myFile" value="")
            input(type="submit" value="Upload your file")

        form(action="/uploadphoto" enctype="multipart/form-data" method="POST")
            input(type="file", name="myImage" value="" accept=)
            input(type="submit" value="Upload photo")

        