<!doctype.html>
html
    head
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        title fisrt pug template
    body
        div.row.justify-content-center 
            div.col-md-6
                div.card-body
                    hearder.card-hearder
                        h4.card-title Register
                    form 
                        div.form-row
                            div.col.form-group
                                label First Name
                                input(name="First Name" type="text") 
                            div.col.form-group
                                label Last Name
                                input(name="First Name" type="text")