copy path = require('path')
app.set('views engine','pug')
app.set('views',path.join(_dirname"views"))
})

app.get('/register.pug',(req,res)=>{
    //console.log('body,req.body')
    //console.log(query params)
    res.render
})